.order-overview{
    height: 72vh;
    overflow: scroll;
}
.headline {
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 42px;
    color: #787878;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    border-bottom: 1px solid #B9B9B9;
}

.singleItems {
    display: flex;
    grid-template-rows: auto;
    flex-wrap: wrap;
    row-gap: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.menuCard {
    width: 720px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.1);
    margin-right: 30px;
    transition: all 0.3s;
    transform-origin: center;

    :focus {
        box-shadow: 0px 0px 40px #fdd68b;
        transform: scale(1.1);
        outline: none;
    }
}

.menuCardItems {
    display: flex;
    width: 100%;
}

.menuDisplay {
    display: flex;
    grid-template-rows: auto;
}

.singleItemBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart-empty{
    height: 100%;
    width: 100%;
    margin-top: -20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #80808014;
    .txt{
        position: relative;
        font-size: 3rem;
        color:rgb(148, 148, 148);
        &::before{
            position: absolute;
            content: ':-(';
            top:110%;
            left: 50%;
            transform: translateX(-50%) rotate(90deg);
        }
        &::after{
            position: absolute;
            content: '';
            top: 157%;
            left: 48.5%;
            width: 75px;
            height: 75px;
            border: 2px #949494 solid;
            border-radius: 38px;
            transform: translate(-50%, -50%);
        }
    }
}