.category-wrapper {
    float: left;
    width: auto;
    height: 100vh;
    margin-top: -5vh;
    padding: calc(35px + 5vh) 10px;
    overflow: hidden;
    box-shadow: 2px 0px 32px -13px #5f5f5f;
}
.category-bar {
    display: flex;
    transition: all 0.3s;
    flex-direction: column;
    
    .card {
      margin: 20px;
      border:none;
    }

    .card.selected:not(.highlighted), .card.selected:not(:hover){
        transform: scale(1.1);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
        
    }
}


