.headline-text {
    font-family: 'Roboto Light' sans-serif;
    color: #787878;
    text-transform: uppercase;
    font-size: 2vmin;

    width: 70vw;
    margin: 20px auto 0 3vw;
    border-bottom: 1px solid #b9b9b9;
}

.item-container {
    width: 100vw;
    overflow: scroll;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }
}

.item-scroll-container {
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    flex-flow: row nowrap;
    padding: 20px 3vw 2.5vh;

    & > :not(:nth-child(1)) {
        margin-left: 25px;
    }
}

#add-button {
    padding: 1.5vh 20px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    margin: 1vh 3vw;
    background-color: #048644;
    transition: 0.3s;
    &:hover {
        transform: scale(1.2);
        box-shadow: 0px 0px 40px #fdd68b;
    }
    &.disabled-link {
        pointer-events: none;
        background-color: lightgrey;
    }
}
