.grid-container {
    width: 77vw;
    height: 70vh;
    float: right;
    display: flex;
    flex-flow: column wrap;
    overflow: scroll;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }

    div {
        margin: 7px 20px;
    }
}
