.grid-container {
    width: 80vw;
    height: 80vh;
    float: right;
    display: flex;
    flex-flow: column wrap;
    overflow: scroll;
    
    

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }
}