.order-details-wrapper {
    position: absolute;
    background: #fff;
    width: 100vw;
    left: 0;
    bottom: 0;
}
.order-details-header {
    background-color: #ffbe5f;
    color: #fff;
    font-size: 3vmin;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 2px;
    padding: 1.7vh 5vw;
    margin: 0px;
}

.order-details-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;

    button {
        width: 50%;
        padding: 2vmin;
        border-radius: 10px;
        border: none;
        font-size: 2.5vmin;
        font-weight: 600;
        color: #fff;
        margin: 0 2vw 1vh;
        transform-origin: center;
        transition: 0.2s ease-in-out;
        box-shadow: 0px 0px 5px #000;
        &:focus,
        &:hover, &.highlighted {
            transform: scale(1.04);
            box-shadow: 0px 0px 10px #000;
        }
    }
    .finish-btn {
        background-color: transparent;
        color: #048644;
        border: 2px solid #048644;
        margin-left: 10px;
        
        &:focus,
        &:hover, &.highlighted {
            background-color: #048644;
            color: white
        }

        &.empty-basket{
            pointer-events: none;
            background-color: lightgrey;
            color: white;
            border: none;
            box-shadow: none;
        }
    }
    .cancel-btn {
        background-color: transparent;
        border: 2px solid #aa3b4a;
        color: #aa3b4a;
        margin-right: 10px;

        &:focus,
        &:hover, &.highlighted {
            background-color: #aa3b4a;
            color: white;
        }
    }
}

.order-details {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    padding: 2vh 0;
    font-size: 2.5vmin;
    font-weight: 600;
    width: 100vw;
    div {
        padding: 0px 25px;
        min-width: 23%;
        text-align: center;
        p {
            margin: 10px 0px;
        }
    }
    div:not(:last-child) {
        border-right: 2px solid black;
    }
}
