.carousel-wrapper {
    float: left;
    width: auto;
    height: 100vh;
    overflow: hidden;
}
.carousel-slide {
    display: flex;
    transition: transform 0.5s;
}
.carousel-slide.no-trans{
    transition:  none !important;
}
