body, html {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.hello {
    position: absolute;
    top: 0;
    left: 50vw;
    z-index: 2;
}

